@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #271668;
  --secondary: rgba(31, 209, 253, 0.4);
  --tertiary: rgba(31, 209, 253, 0.6);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--tertiary);
}

@responsive {
  .summary-table-sm {
    grid-template-columns: minmax(max-content, 200px) max-content;
    row-gap: 10px;
    column-gap: 5px;
  }

  .summary-table-md {
    grid-template-columns: minmax(max-content, 500px) max-content max-content max-content;
    row-gap: 10px;
    column-gap: 5px;
  }
}
@layer utilities {
  .generic-padding-x {
    @apply px-1 sm:px-2 md:px-5;
  }

  .generic-padding-y {
    @apply py-1 sm:py-2;
  }

  .generic-text {
    @apply text-xs sm:text-sm;
  }

  .generic-heading {
    @apply text-2xl font-bold;
  }
}

@layer components {
  .generic-button-primary {
    @apply px-5 py-2 text-white bg-blue-700 generic-text;
  }
}
